<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CMT</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/styles/util.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/main.css">
<!--===============================================================================================-->
 <!-- Font Awesome -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- Bootstrap core CSS -->
 <link href="../static/styles/bootstrap.min.css" rel="stylesheet">
 <!-- Material Design Bootstrap -->
 <link href="../static/styles/mdb.min.css" rel="stylesheet">
 <!-- Your custom styles (optional) -->
 <link href="../static/styles/style.min.css" rel="stylesheet">


</head>
<body>
	 <!-- Sidebar -->
	 <div class="sidebar-fixed position-fixed">

		<a class="logo-wrapper waves-effect">
			<img src="https://vignette.wikia.nocookie.net/logosfake/images/b/b3/CMT_Logo.png/revision/latest?cb=20161023201954" class="img-fluid" alt="">
		</a>

		<div class="list-group list-group-flush">
			<a href="#" class="list-group-item active waves-effect">
				<i class="fa fa-pie-chart mr-3"></i>Dashboard</a>
			<a href="#" class="list-group-item list-group-item-action waves-effect">
				<i class="fa fa-user mr-3"></i>Profile</a>
			<a href="#" class="list-group-item list-group-item-action waves-effect">
				<i class="fa fa-table mr-3"></i>Tables</a>
		</div>

	</div>
	<!-- Sidebar -->

    <form action="http://localhost:5000/uploader1" method="POST" enctype="multipart/form-data">
        File1: <input type="file" name="file1" />
        File2: <input type="file" name="file2" />
        <input type="submit" />
    </form>

</body>

</html>
